@import 'https://fonts.googleapis.com/css?family=Noto+Sans|Noto+Serif';

body {
    text-align: center;
}

header {
    font: {
        family: 'Noto Sans', sans-serif;
    }
    text-transform: uppercase;
}
