@import 'https://fonts.googleapis.com/css?family=Noto+Sans|Noto+Serif';

body {
    background-color: #333333;
    color: #FFFFFF;
    text-align: center;
}

header {
    padding: 5rem 0;

    h1 {
        color: #CECECE;
        font: {
            family: 'Noto Sans', sans-serif;
        }
        text-transform: uppercase;
    }

}

h2 {
    font: {
        family: 'Noto Serif', serif;
        size: 3rem;
    }
    text-transform: lowercase;
}
