@import 'https://fonts.googleapis.com/css?family=Noto+Sans|Noto+Serif';

@keyframes animatedBackground {
	from { background-position: 100% 0; }
	to { background-position: 0 0; }
}

body {
    animation: animatedBackground 60s linear infinite;
    background-color: #01579B;
    background: url(../img/wov.png) repeat;
    background-position: 0px 0px;
    color: #FFFFFF;

	display: flex;
	justify-content: center;
	align-items: center;
	
    font: {
        family: 'Noto Sans', sans-serif;
    }
    text-align: center;
}

a {
    color: #999999;
    text-decoration: none;
}

header {
    padding: 5rem 0;

    h1 {
        color: #B2EBF2;
        text-transform: uppercase;
    }

}

h2 {
    font: {
        family: 'Noto Serif', serif;
        size: 3rem;
    }
    margin-bottom: 10rem;
    text-transform: lowercase;
}

ul {
    margin: 0 auto;
    text-align: left;
    width: 50%;
}

footer {
    border-top: 1px solid #555555;
    padding: 2rem 0;
    text-transform: uppercase;
}
